.programm__table {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(5, 1fr);
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
}

/*
@media screen and (min-width: 1024px) {
  .programm__table {
    grid-template-columns: 30% 30% 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}
*/
