.programm__subtitle {
  font-size: 20px;
  font-family: 'Arial';
  color: #666666;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .programm__subtitle {
    font-size: 22px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 1024px) {
  .programm__subtitle {
    font-size: 24px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 1280px) {
  .programm__subtitle{
    font-size: 28px;
    line-height: 1.3;
  }
}