.table__info-heading {
  color: #666666;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
}


@media screen and (min-width: 768px) {
  .table__info-heading {
    font-size: 24px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 1024px) {
  .table__info-heading {
    font-size: 30px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 1280px) {
  .table__info-heading {
    font-size: 36px;
    line-height: 1.3;
  }
}