.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  display: flex;
  box-sizing: border-box;
}

.footer___column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-links {
  color: white;
  line-height: 30px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 16px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  margin: 0 10px 0 0;
  height: 16px;
  width: 16px;
}
